<h1>Edit Post</h1>

<%= form_for @post do |f| %>
  <h3>Title</h3>
  <%= f.label :title %>:
  <%= f.text_field :title %>
  <br>
  <%= f.label :text %>:
  <%= f.text_area :body %>
  <br>
  <%= f.submit %>
<% end %>
