<h1>Create New Post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>
  <br>
  <%= f.label :text %>:
  <%= f.text_area :body %>
  <br>
  <%= f.file_field :avatar %>
  <br>
  <%= f.submit %>
<% end %>
